// Colors
// -------------------------------------------------------------------------------------------------
$primary: #4cc2f1;
$dark-blue: #2b2d38;
$success: #70c570;

// Greyscale
$white: #fff;
$secondary: $white;

$grey-b: #bdbdbd;
$grey-9: #949393;
$grey-2: #222;
$grey-1: #1f1f1f;

$black: #000;

// Default Text colors:
// $dark-text-default: $black;
// $light-text-default: $white;

// Sizes
// -------------------------------------------------------------------------------------------------
// todo: confirm em and not rem?
$base-padding: 1em;

// Navbar Colors
// -------------------------------------------------------------------------------------------------
$navbar-bg: $dark-blue;
$navbar-active-bg: $grey-2;
$navbar-fg: color-contrast($navbar-bg);

$hero-bg-url: "https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:52c3ef,c_scale,e_colorize:100,h_3036,o_10,w_4048/e_grayscale,o_50,u_hackference-flag/c_crop,g_center,y_200,w_1800,h_530,a_vflip/hackference-2018/hackference-flag.jpg";
