// Colors
// -------------------------------------------------------------------------------------------------
$primary: #4cc2f1;
$dark-blue: #2b2d38;

// Greyscale
$white: #fff;
$secondary: $white;

$grey-2: #222;

// Relative Sizes
// -------------------------------------------------------------------------------------------------
