---
---

// Required because that comment above makes scss-lint unhappy.
.empty {}

// style.css converted to scss which jekyll supports OOB.
// Imports
@import "mixins";
@import "variables";
@import "reset";
@import "typography";
@import "navbar";


// Site Styling
// Mailchimp Embed Signup
#mc_embed_signup {
  background: none;
  clear: left;
  font: 1rem Helvetica, Arial, sans-serif;
  width: 100%;

  div.mce_inline_error {
    background-color: $primary !important;
    text-align: left;
    padding: 15px !important;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
  }
}

.mc-field-group {
  margin: 0.5em 0;
}

div#mce-success-response {
  background-color: $success;
  max-width: 100%;
  margin: 2em auto;
  padding: 15px;
  border-radius: 5px;
  font-weight: 400;
}

#mc_embed_signup_scroll {
  max-width: 100%;
  margin: 0 auto;
}

// Logo
.builtbyme img {
  width: 2.5em;
  margin-bottom: 1rem;
  height: auto;
}

// Homepage
.homepage-hero {
  //background-color: #;
  background: url($hero-bg-url);
  background-size: cover;
  height: 65vh;
  margin-bottom: 1rem;
}

.hero-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary;

  img {
    width: 70%;
  }

  h1 {
    font-size: 2rem;
  }
}

// Footer
footer {
  .col {
    padding: 6%;
  }

  h1 {
    font-size: 2em;
  }

  a {
    color: $grey-9;
    border-bottom: 1px dotted $grey-9;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    &:hover {
      color: $primary;
      border-bottom: 1px solid $primary;
    }
  }
}

.social-links a,
.social-links a:hover {
  border-bottom: 0;
  padding: 1em;
}

// Buttons
.devrel-button {
  display: inline-block;
  font-weight: 700;
  color: $grey-2;
  background-color: $secondary;
  padding: 1em 2em;
  margin-top: 2em;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.buy {
  background-color: $primary;
  color: $secondary;
}

a.buy {
  color: $secondary !important;
}

// Newsletter
label {
  display: block;
  margin: 1em auto 0;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  color: $grey-1;
}

.text {
  opacity: 0.3;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.email,
.text {
  border: 1px solid $grey-b;
  height: 44px;
  margin: 0.5em 0 0 !important;
  min-width: 100%;
  padding: 0 0 0 1em;
  color: $grey-2;
}
