<footer class="row">
  <div class="col text-left footer-info">
      <h1 class="title">Hackference</h1>
      <p>Hackference brings developers together to learn, build, share.</p>
      <p><a href="/code-of-conduct/code-of-conduct.html">Code of Conduct</a></p>
      <p>Organised by</p>
      <div>
        <a href="https://elsmore.me/"><div class="builtbyme" id="builtbyme"><img
        alt="BuiltByMe logo" onerror="this.onerror=null; this.src='/assets/mike-elsmore.png'" src="/assets/mike-elsmore.svg"></div></a>
      </div>
      <div class="social-links text-center">
        <a href="https://twitter.com/hackferencebrum">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/hackference/">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="http://slack.hackference.co.uk/">
          <i class="fab fa-slack fa-2x"></i>
        </a>
      </div>
  </div>
  <div class="col">
      <div id="mc_embed_signup">
          <form action="https://hackference.us10.list-manage.com/subscribe/post?u=6d8df0266d881f193098c49f0&amp;id=70a6dab3c0" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
              <div id="mc_embed_signup_scroll">
                  <div id="newsletter"></div>
                  <h1 class="title">Signup for updates</h1>
                  <div class="mc-field-group">
                      <label for="mce-EMAIL">Email Address <span>(Required)</span></label> <input class="required email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email Address" type="email" value="">
                  </div>
                  <div class="mc-field-group">
                      <label for="mce-FNAME">Name</label> <input class="text" id="mce-FNAME" name="FNAME" placeholder="Your Name" type="text" value="">
                  </div>
                  <div class="mc-field-group">
                      <label for="mce-LNAME">Job Title</label> <input class="text" id="mce-LNAME" name="LNAME" placeholder="Your Job Title" type="text" value="">
                  </div>
                  <div class="mc-field-group">
                      <label for="mce-MMERGE3">Company</label> <input class="text" id="mce-MMERGE3" name="MMERGE3" placeholder="Company Name" type="text" value="">
                  </div>
                  <div class="clear" id="mce-responses">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;">
                      <input name="b_b895eb25808853ec36506c2f9_d2dc7d3340" tabindex="-1" type="text" value="">
                  </div>
                  <div class="clear">
                      <input class="devrel-button buy" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe »">
                  </div>
              </div>
          </form>
      </div>
  </div>
</footer>
