<a name="hackathon"></a>
<div class="row">
    <div class="col">
        <h3 class="title heading">Hackathon</h3>
        <div class="row hackathon-container" >
            <div class="col s6">
                <br />
                <br />
                <h3>
                    <strong><span class="blue">The hackathon is one of the biggest public hackathons in the United Kingdom</span></strong>
                    - you don't have to be a student, or even a coder to come along and get involved!
                </h3>
                <p>We will have plenty of API's and technology for you to put your skills to, for the chance to win some amazing
                        prizes, or even just impress your peers!</p>
                <p>We don't have any parking at Impact Hub, but Digbeth has plenty of Carparks or you can use the Selfridges carpark by the Bullring.</p>
            </div>
            <div class="col s6" >
                <ul class="training-schedule">
                    <li class="training-schedule-title"><strong>Saturday</strong></li>
                    <li>
                        <p><strong>10:00am</strong> Registration</p>
                    </li>
                    <li>
                        <p><strong>11:00am</strong> Opening presentations</p>
                    </li>
                    <li>
                        <p><strong>12:00pm</strong> Lunch <i class="fa fa-cutlery pink"></i></p>
                    </li>
                    <li>
                        <p><strong>12:00pm</strong> Hacking Starts <i class="fa fa-code pink"></i></p>
                    </li>
                    <li>
                        <p><strong>19:00pm</strong> Dinner <i class="fa fa-cutlery pink"></i></p>
                    </li>
                    <li class="training-schedule-title"><strong>Sunday</strong></li>
                    <li>
                        <p><strong>08:00am</strong> Breakfast <i class="fa fa-cutlery pink"></i></p>
                    </li>
                    <li>
                        <p><strong>12:00pm</strong> Hacking ends <i class="fa fa-code pink"></i></p>
                    </li>
                    <li>
                        <p><strong>12:00pm</strong> Lunch <i class="fa fa-cutlery pink"></i></p>
                    </li>
                    <li>
                        <p><strong>13:00pm</strong> Presentations</p>
                    </li>
                    <li>
                        <p><strong>17:30pm</strong> Home time</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
