<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src='https://js.tito.io/v1' async></script>
<!-- Tooltips -->
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
  $('#speakerDetails').on('show.bs.modal', function (event) {
    var speakerObject = $(event.relatedTarget);
    var speakerName = speakerObject.data('name');
    var speakerImage = speakerObject.data('image');
    var speakerBio = speakerObject.data('bio');
    var speakerTalk = speakerObject.data('talk');
    var speakerAbstract = speakerObject.data('abstract');
    var twitterHandle = speakerObject.data('twitter');
  
    var modal = $(this);
    if(twitterHandle.length) {
      var speakerTwitter = `<a href="https://twitter.com/${twitterHandle}" >@${twitterHandle}</a>`;
      modal.find('.modal-body .speaker-twitter').html(speakerTwitter);
    } else {
      modal.find('.modal-body .speaker-twitter').text('');
    }
    modal.find('.modal-body .speaker-name').text(speakerName);
    modal.find('.modal-body .speaker-image').attr('src', speakerImage);
    modal.find('.modal-body .speaker-bio').text(speakerBio);
    modal.find('.modal-body .speaker-talk').text(speakerTalk);
    modal.find('.modal-body .speaker-abstract').text(speakerAbstract);
  });
});
</script>
<!-- Tracking -->
<script>
!(function(g, s, q, r, d) {
  r = g[r] =
    g[r] ||
    function() {
      (r.q = r.q || []).push(arguments);
    };
  d = s.createElement(q);
  q = s.getElementsByTagName(q)[0];
  d.src = '//d1l6p2sc9645hc.cloudfront.net/tracker.js';
  q.parentNode.insertBefore(d, q);
})(window, document, 'script', '_gs');

_gs('GSN-426821-N');
</script>
<!-- ServiceWorker Registration -->
<script>
if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
