<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Previous Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://2017.hackference.co.uk"><i class="fas fa-external-link-square-alt"></i> Hackference 2017</a>
          <a class="dropdown-item" href="https://2016.hackference.co.uk"><i class="fas fa-external-link-square-alt"></i> Hackference 2016</a>
          <a class="dropdown-item" href="https://2015.hackference.co.uk"><i class="fas fa-external-link-square-alt"></i> Hackference 2015</a>
          <a class="dropdown-item" href="https://2014.hackference.co.uk"><i class="fas fa-external-link-square-alt"></i> Hackference 2014</a>
          <a class="dropdown-item" href="https://2013.hackference.co.uk"><i class="fas fa-external-link-square-alt"></i> Hackference 2013</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#speakers"><i class="fas fa-bullhorn"></i> Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#hackathon"><i class="fas fa-code"></i> Hackathon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#venues"><i class="far fa-building"></i> Venues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tickets"><i class="fas fa-ticket-alt"></i> Tickets</a>
      </li>
    </ul>
  </div>
</nav>
