<link rel="manifest" href="manifest.json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="Hackference">
<meta name="apple-mobile-web-app-title" content="Hackference">
<meta name="theme-color" content="#4cc2f1">
<meta name="msapplication-navbutton-color" content="#4cc2f1">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-starturl" content="/">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="apple-touch-icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="70x70" href="/assets/favicons/mstile-70x70.png">
<link rel="apple-touch-icon" type="image/png" sizes="70x70" href="/assets/favicons/mstile-70x70.png">
<link rel="icon" type="image/png" sizes="144x144" href="/assets/favicons/mstile-144x144.png">
<link rel="apple-touch-icon" type="image/png" sizes="144x144" href="/assets/favicons/mstile-144x144.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/favicons/android-chrome-192x192.png">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="/assets/favicons/android-chrome-192x192.png">
