<a name="schedule"></a>
<div class="row">
    <div class="col">
        <h3 class="title heading">Schedule</h3>
        <div class="row" >
          <table class="the_schedule">
            <tbody>
              <tr>
                <th colspan="2" class="sub_header tracks border-top-none">Innovate</th>
              </tr>
              <tr>
                <td class="time">08.15</td>
                <td>
                  <p><b>Registration and light breakfast</b></p>
                  <p>Escape</p>
                </td>
              </tr>
            <tr>
            <td class="time">09.15</td>
              <td>
                <div class="speaker-img-container"><img alt="Mike Elsmore" src="assets/mike-elsmore.svg"></div>
                <p><b>Welcome to Hackference 2018!</b></p>
              </td>
            </tr>
            </tbody>
          </table>

          <table class="the_schedule">
          <tbody>
            <tr>
              <th class="sub_header choose-track" colspan="2">Move between tracks as you please</th>
            </tr>
            <tr>
              <th class="sub_header tracks border-top-none">Innovate</th>
              <th class="sub_header tracks border-top-none">Develop</th>
            </tr>
            <tr>
              <td class="center time" colspan="2">09.35</td>
            </tr>
            <tr>
              <td>
                <div class="speaker-img-container"><img alt="Doug Sillars" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/doug-sillars.png"></div>
                <p><b>Fast and Beautiful: Modern Image Delivery Techniques</b></p>
                <p>Doug Sillars</p>
              </td>
              <td>
                <div class="speaker-img-container"><img alt="Martin Sonnenholzer" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/martin-sonnenholzer.png"></div>
                <p><b>D̶u̶n̶n̶o̶ - Deno what it is</b></p>
                <p>Martin Sonnenholzer</p>
              </td>
            </tr>
            <tr>
              <td class="center time" colspan="2">10.20</td>
            </tr>
            <tr>
              <td>
                <div class="speaker-img-container"><img alt="Lily Madar" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/lily-madar.png"></div>
                <p><b>From cave paintings 🎨 to emoji 😀: a visual tradition</b></p>
                <p>Lily Madar</p>
              </td>
              <td>
                <div class="speaker-img-container"><img alt="Karina Popova" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/karina-popova.png"></div>
                <p><b>A Geospatial Analysis of Twitter Content During The 2014 FIFA World Cup</b></p>
                <p>Karina Popova</p>
              </td>
            </tr>
            <tr>
              <td class="center" colspan="2">
                <i class="fa fa-coffee"></i><p> <b>Break</b></p>
                <p>Escape</p>
              </td>
            </tr>
            <tr>
              <td class="center time" colspan="2">11.30</td>
            </tr>
            <tr>
              <td>
                <div class="speaker-img-container"><img alt="Marta Bondyra" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/marta-bondyra.png"></div>
                <p><b>That's magic! - Combining WebVR and Web Speech API</b></p>
                <p>Marta Bondyra</p>
              </td>
              <td>
                <div class="speaker-img-container"><img alt="Danielle Tomlinson" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/danielle-tomlinson.png"></div>
                <p><b>Running systems without setting your hair on fire</b></p>
                <p>Danielle Tomlinson</p>
              </td>
            </tr>
            <tr>
              <td class="center time" colspan="2">12.15</td>
            </tr>
            <tr>
              <td>
                <div class="speaker-img-container"><img alt="Chris Miller" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/chris-miller.png"></div>
                <p><b>And here we have some happy little svgs: painting for the web</b></p>
                <p>Chris Miller</p>
              </td>
              <td>
                <div class="speaker-img-container"><img alt="Bastian Hofmann" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/bastian-hofmann.png"></div>
                <p><b>Getting started with Kubernetes</b></p>
                <p>Bastian Hofmann</p>
              </td>
            </tr>
            <tr>
              <td class="center time" colspan="2">13.00</td>
            </tr>
            <tr>
              <td class="center" colspan="2">
                <i class="fa fa-coffee"></i><p> <b>Lunch</b></p>
                <p>Escape</p>
              </td>
            </tr>
            <tr>
              <td class="center time" colspan="2">14.00</td>
            </tr>
            <tr>
              <td>
                <div class="speaker-img-container"><img alt="Terence Eden" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/terence-eden.png"></div>
                <p><b>Why you should become an editor on the HTML5 spec</b></p>
                <p>Terence Eden</p>
              </td>
              <td>
                <div class="speaker-img-container"><img alt="Mark Needham" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/mark-needham.png"></div>
                <p><b>All About GRAND Stack: GraphQL, React, Apollo, and Neo4j</b></p>
                <p>Mark Needham</p>
              </td>
            </tr>
            <tr>
              <td class="center time" colspan="2">14.45</td>
            </tr>
            <tr>
              <td>
                <div class="speaker-img-container"><img alt="Jo Franchetti" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/jo-franchetti.png"></div>
                <p><b>Get Connected with Web Bluetooth</b></p>
                <p>Jo Franchetti</p>
              </td>
              <td>
                <div class="speaker-img-container"><img alt="Jeremy Meiss" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/jeremy-meiss.png"></div>
                <p><b>Introduction to Modern Identity</b></p>
                <p>Jeremy Meiss</p>
              </td>
            </tr>
            <tr>
              <td class="center" colspan="2">
                <i class="fa fa-coffee"></i><p> <b>Break</b></p>
                <p>Escape</p>
              </td>
            </tr>
            <tr>
              <td class="center time" colspan="2">15:55</td>
            </tr>
            <tr>
              <td>
                <div class="speaker-img-container"><img alt="Alex Lakatos" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/alex-lakatos.png"></div>
                <p><b>The age of Conversation or Bots! Bots! Bots!</b></p>
                <p>Alex Lakatos</p>
              </td>
              <td>
                <div class="speaker-img-container"><img alt="James Thomas" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/james-thomas.png"></div>
                <p><b>Serverless: The Missing Manual</b></p>
                <p>James Thomas</p>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="the_schedule">
          <tbody>
            <tr>
              <th class="sub_header" colspan="2">All back together (Innovate)</th>
            </tr>
            <tr>
              <td class="center time">16.40</td>
              <td>
                <div class="speaker-img-container"><img alt="Jess Rose" src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_64,fl_progressive/hackference-2018/jess-rose.png"></div>
                <p><b>Burnout and Your Meat Computer</b></p>
                <p>Jess Rose</p>
              </td>
            </tr>
            <tr>
              <td class="center time">17.20</td>
              <td>
                <div class="speaker-img-container"><img alt="Mike Elsmore" src="assets/mike-elsmore.svg"></div>
                <p><b>Goodbye and thanks!</b></p>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
</div>
