<a name="speakers"></a>
<div class="row">
    <div class="col">
        <h3 class="title heading">Speakers</h3>
        <p>Wonderful speakers, with more to be announced</p>
        <div class="row" >
            <div class="col">
                <img src="http://res.cloudinary.com/elsmore-me/image/upload/w_250,h_250,c_thumb,g_face/w_250,fl_progressive/hackference-2018/karina-popova.png" />
                <h4>Karina Popova</h4>
            </div>
            <div class="col" >
                <img src="http://res.cloudinary.com/elsmore-me/image/upload/w_1300,h_1300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/mark-needham.png" />
                <h4>Mark Needham</h4>
            </div>
            <div class="col">
                <img src="http://res.cloudinary.com/elsmore-me/image/upload/w_300,h_300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jo-franchetti.png" />
                <h4>Jo Franchetti</h4>
            </div>
            <div class="col">
                <img src="http://res.cloudinary.com/elsmore-me/image/upload/w_340,h_340,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jess-rose-cartoon.png" />
                <h4>Jess Rose</h4>
            </div>
            <div class="col">
                <img src="http://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_250,fl_progressive/hackference-2018/bastian-hofmann.png" />
                <h4>Bastian Hofmann</h4>
            </div>
            <div class="col">
                <img src="http://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/alex-lakatos.png" />
                <h4>Alex Lakatos</h4>
            </div>
        </div>
    </div>
</div>