<a name="speakers"></a>
<div class="row">
    <div class="col">
        <h3 class="title heading">Speakers</h3>
        <div class="row" >
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Alex Lakatos"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/alex-lakatos.png"
                data-twitter="lakatos88"
                data-bio="Alex Lakatos is a JavaScript Developer Advocate for Nexmo. In his spare time he volunteers at Mozilla as a Tech Speaker and a Reps Council member. JavaScript developer building on the open web, he has been pushing its boundaries every day. You can check out his github profile or get in touch on twitter. When he’s not programming in London, he likes to travel the world, so it’s likely you’ll bump into him in an airport lounge."
                data-talk="The age of Conversation or Bots! Bots! Bots!"
                data-abstract="This talk outlines the basic mechanics of conversation interfaces, introduces core principles to design by, and presents you with a practical guide to start creating bots that engage, delight, and truly help your users. We’ll also be building a voice enabled bot using JavaScript :D"
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/alex-lakatos.png"
                />
                <h4>Alex Lakatos +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Bastian Hofmann"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_250,fl_progressive/hackference-2018/bastian-hofmann.png"
                data-twitter="BastianHofmann"
                data-bio="Bastian is a System Engineer at SysEleven, a full-service hosting company, where he focuses on bringing the power Kubernetes
                to its customers. Before that he was caring about performance, monitoring, web-security and developer productivity at ResearchGate,
                the social network for researchers and scientists. When he is not developing stuff or looking at graphs, he likes to cycle,
                do Yoga, go to beer gardens and frequently speaks at international conferences on software architecture, scaling web applications
                and open standards and protocols."
                data-talk="Getting started with Kubernetes"
                data-abstract="Kubernetes and container orchestration is a very hot topic and promises to make deploying and running services much easier
                and efficient. This talk helps with the steep learning curve Kubernetes has."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_250,fl_progressive/hackference-2018/bastian-hofmann.png"
                />
                <h4>Bastian Hofmann +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Chris Miller"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/chris-miller.png"
                data-twitter="ccmiller2018"
                data-bio="Chris is a web developer for West Midlands Media, using CSS, PHP, MySQL, JS and JQuery, following on from a 16 week boot
                camp with The School of Code in Birmingham that Chris credits as Changing his life for good. Code, he says, is now literally
                his life. Developing Websites for a living doesn't feel like work to him, it feels like fun!"
                data-talk="And here we have some happy little svgs: painting for the web"
                data-abstract="Using SVG inline, We can replicate a Bob Ross painting in 30 minutes. Using SVG we will make everything look good, and work
                well, and be 100% responsive. By doing this we’ll learn about SVG and how it works for the web, as well as combining it with
                HTML, CSS and JS for awesome results quickly."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/chris-miller.png"
                />
                <h4>Chris Miller +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Danielle Tomlinson"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/danielle-tomlinson.png"
                data-twitter="dantoml"
                data-bio="Danielle has been shipping bugs to users for over 10 years, and currently works as a Staff Software Engineer at CircleCI
                where she works on the build execution platform. Before she started breaking other people's computers in the cloud, she was
                an iOS developer for over 8 years and is a core maintainer of CocoaPods and fastlane."
                data-talk="Running systems without setting your hair on fire"
                data-abstract="This talk is an introduction into all the things it takes to run your code in production – without constantly wanting to
                set your hair on fire. We will cover basic observability, reliability, and how to make your code more resilient to the inevitable
                external and internal failures.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/danielle-tomlinson.png"
                />
                <h4>Danielle Tomlinson +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Doug Sillars"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_250,fl_progressive/hackference-2018/doug-sillars.png"
                data-twitter="dougsillars"
                data-bio="Doug is a leading mobile developer advocate and evangelist. He is widely known as an expert in mobile application architecture,
                especially when it comes to performance. Doug has worked with thousands of developers around the world, helping them improve
                the speed, battery life and customer satisfaction of their applications (both native and web). The author of O’Reilly’s ‘High
                Performance Android Apps,’ he has spoken at conferences around the world on mobile performance. He is currently freelancing,
                and traveling with his family of 6 (plus the dog!) as a digital nomad in Europe"
                data-talk="Fast and Beautiful: Modern Image Delivery Techniques"
                data-abstract="When it comes to the web, the predominate download (in KB) is images. In this talk, we’ll walk through the current state
                of image optimization to help your website render quickly and beautifully.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_250,fl_progressive/hackference-2018/doug-sillars.png"
                />
                <h4>Doug Sillars +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="James Thomas"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/james-thomas.png    "
                data-twitter="thomasj"
                data-bio="James Thomas is a Developer Advocate for IBM’s Cloud division. James is a huge fan of all thing serverless! He spends his
                time speaking at conferences, blogging or writing open-source code to share the awesomeness of serverless cloud platforms.
                James is a committer on Apache OpenWhisk, the open-source serverless platform. He wrote (and maintains) the official JavaScript
                client library. He also created the OpenWhisk provider plugin for The Serverless Framework."
                data-talk="Serverless: The Missing Manual"
                data-abstract="Do serverless cloud platforms leave you with more questions than answers? This session is for developers who see the benefits
                of serverless but are struggling to adjust to a serverless world.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/james-thomas.png"
                />
                <h4>James Thomas +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Jeremy Meiss"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_350,h_350,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jeremy-meiss.png    "
                data-twitter="IAmJerdog"
                data-bio="Jeremy is the Head of Community at Auth0, Forum Admin at XDA, and a lover of all things coffee, community, open source, and
                tech. He has a wife, 3 kids, and a beagle who all profess undying love."
                data-talk="Introduction to Modern Identity"
                data-abstract="Digital identity is at the core of any application - invisible yet crucial. We often take identity for granted as most of
                its magic happens behind the scenes. But identity plays a much larger role beyond the login screen for your applications.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_350,h_350,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jeremy-meiss.png"
                />
                <h4>Jeremy Meiss +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Jess Rose"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_400,h_400,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jess-rose-cartoon.png"
                data-twitter="jesslynnrose"
                data-bio=""
                data-talk="TBA"
                data-abstract="TBA"
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_400,h_400,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jess-rose-cartoon.png"
                />
                <h4>Jess Rose +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Jo Franchetti"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_300,h_300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jo-franchetti.png"
                data-twitter="thisisjofrank"
                data-bio="Jo is a Web Developer Advocate for Samsung Internet who is passionate about good CSS. She’s got 6 years experience as a front
                end developer and has worked in various parts of the tech industry from startups, agencies, charities to large organisations.
                She is also mentor and organiser at codebar.io where she is able to action her passion not only for teaching good use of
                the web but also for improving the diversity and inclusivity of the tech industry."
                data-talk="Get Connected with Web Bluetooth"
                data-abstract="An introduction to connecting your bluetooth devices to your web app using the WebBluetooth API, get data from your heart
                rate monitor, control your lights even fly a drone directly from your browser, no app necessary."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_300,h_300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jo-franchetti.png"
                />
                <h4>Jo Franchetti +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Karina Popova"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_250,h_250,c_thumb,g_face/w_250,fl_progressive/hackference-2018/karina-popova.png"
                data-twitter="kary_key"
                data-bio="Karina is a well-known woman in tech, an experienced developer and an international speaker. She has been worked as Developer
                Lead last 10 years. She has confident communication, leadership skills across different levels, developed through international
                professional interaction and engagements with representatives of various government institutions or IT companies using agile
                environment across the world. Her social responsibility and communicative competence are demonstrated in the organization
                of professional networks, events and conferences. At the same time she gained public speaking skills through frequent academic
                presentations, workshops and participation as a speaker at IoT and DevOps conferences."
                data-talk="A Geospatial Analysis of Twitter Content During The 2014 FIFA World Cup"
                data-abstract="It is hypothesized that non-political events become politicized through social media. The geographical and statistical analysis
                were combined in order to define the temporal and spatial nature of the data coming from the popular social network Twitter
                during the FIFA World Cup.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_250,h_250,c_thumb,g_face/w_250,fl_progressive/hackference-2018/karina-popova.png"
                />
                <h4>Karina Popova +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Lily Madar"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_2000,h_2000,c_thumb,g_face/w_250,fl_progressive/hackference-2018/lily-madar.png"
                data-twitter="Lily2point0"
                data-bio="Lily is a technologist and self-proclaimed geek, with a passion for crafting. By day, she is a senior developer at the Financial
                Times; the rest of the time, she tinkers with anything from yarn to Arduino, and is mostly caffeine-powered."
                data-talk="From cave paintings 🎨 to emoji 😀: a visual tradition"
                data-abstract=" Communication has a visual dimension; we wouldn’t think of sending messages without loading them with pictograms. But how
                did we get from hand-painted mammoths to smiley faces? What makes an emoji, and what challenges do they raise for accessible
                conversations? Let’s explore the subject together.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_2000,h_2000,c_thumb,g_face/w_250,fl_progressive/hackference-2018/lily-madar.png"
                />
                <h4>Lily Madar +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Mark Needham"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_1300,h_1300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/mark-needham.png"
                data-twitter="markhneedham"
                data-bio="Mark Needham is a graph advocate and developer relations engineer at Neo4j. As a developer relations engineer, Mark helps
                users embrace graph data and Neo4j, building sophisticated solutions to challenging data problems. Mark previously worked
                in engineering on the clustering team, helping to build the Causal Clustering feature released in Neo4j 3.1. Mark writes
                about his experiences of being a graphista on a popular blog at markhneedham.com. He tweets at @markhneedham."
                data-talk="All About GRAND Stack: GraphQL, React, Apollo, and Neo4j"
                data-abstract="GraphQL is a query language for your API, and a server-side runtime for executing queries by using a type system you define
                for your data. It is considered a competitor or even replacement for REST APIs. In this session we’ll learn how easy it is
                to build a GraphQL API backed by the Neo4j database."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_1300,h_1300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/mark-needham.png"
                />
                <h4>Mark Needham +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Marta Bondyra"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_1200,h_1200,c_thumb,g_face/w_250,fl_progressive/hackference-2018/marta-bondyra.png"
                data-twitter="marta_bondyra"
                data-bio="Marta Bondyra is a Frontend Developer at Typeform passionate about new technologies. She started working in tech as a backend
                engineer at Nokia, but soon realized that telecommunications industry doesn’t involve a lot of frontend magic so she moved
                to frontend and stayed for good. In her free time she plays ukulele or reads books. You can meet her wearing a Gryffindor
                scarf, although in her heart she knows she’s a Slytherin."
                data-talk="That's magic! - Combining WebVR and Web Speech API"
                data-abstract="Imagine you create a world as from your dreams and interact with it as in real life. I did it and even if the resolution
                was worse than in my head I’m pretty happy with it. The talk is a walkthrough of how to render a custom virtual scene in
                A-Frame and interact with it with voice. All in browser."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_1200,h_1200,c_thumb,g_face/w_250,fl_progressive/hackference-2018/marta-bondyra.png"
                />
                <h4>Marta Bondyra +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Martin Sonnenholzer"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/martin-sonnenholzer.png"
                data-twitter="chaos_monster"
                data-bio="Martin is Principal Product Engineer at SinnerSchrader, who has been working with JavaScript since Angularjs version 1.0.7.
                          During his studies of mathematics and computer science he had the opportunity to teach, where his need to make the world more understandable arose.
                          After some time with Java, he switched to JavaScript and the browser, where he is closer to the user.
                          In his spare time he organizes the Angular meeting in Berlin. "
                data-talk="D̶u̶n̶n̶o̶ - Deno what it is"
                data-abstract="This year Ryan Dahl announced Deno. Deno is based on TypeScript
                and V8, it takes advantages of both techs and the 10 years learnings from Node.js. I took my time to deep dive into it. In
                this talk I will share my learnings. What is it. What it can do. How it works and can I use it in production?"
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/martin-sonnenholzer.png"
                />
                <h4>Martin Sonnenholzer +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Terence Eden"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_250,h_250,c_thumb,g_face/w_250,fl_progressive/hackference-2018/terence-eden.png"
                data-twitter="edent"
                data-bio="Terence Eden is a long haired, vegetarian geek. He's an editor of the HTML5 spec, a Unicode Wizard, aficionado of SVG, and
                a blogger. Follow him on social media at https://edent.tel/"
                data-talk="Why you should become an editor on the HTML5 spec"
                data-abstract="The web belongs to everyone - including you! Anyone can volunteer to edit the HTML5 specification. If you do, you’ll get
                the adulation of your peers, epic poetry will be written about you, and you’ll help make the web a better place for all.
                Only one of those things is true."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_250,h_250,c_thumb,g_face/w_250,fl_progressive/hackference-2018/terence-eden.png"
                />
                <h4>Terence Eden +</h4>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="speakerDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Speaker and Talk Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <img class="speaker-image" />
                        </div>
                        <div class="col">
                            <h3 class="speaker-name"></h3>
                            <h4 class="speaker-twitter"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="speaker-bio" ></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2 class="speaker-talk"></h2>
                            <p class="speaker-abstract"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
