<a name="speakers"></a>
<div class="row">
    <div class="col">
        <h3 class="title heading">Speakers</h3>
        <p>Wonderful speakers, with more to be announced</p>
        <div class="row" >
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Alex Lakatos"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/alex-lakatos.png"
                data-twitter="lakatos88"
                data-bio="Alex Lakatos is a JavaScript Developer Advocate for Nexmo. In his spare time he volunteers at Mozilla as a Tech Speaker and a Reps Council member. JavaScript developer building on the open web, he has been pushing its boundaries every day. You can check out his github profile or get in touch on twitter. When he’s not programming in London, he likes to travel the world, so it’s likely you’ll bump into him in an airport lounge."
                data-talk="The age of Conversation or Bots! Bots! Bots!"
                data-abstract="This talk outlines the basic mechanics of conversation interfaces, introduces core principles to design by, and presents you with a practical guide to start creating bots that engage, delight, and truly help your users. We’ll also be building a voice enabled bot using JavaScript :D"
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/alex-lakatos.png"
                />
                <h4>Alex Lakatos +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Bastian Hofmann"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_250,fl_progressive/hackference-2018/bastian-hofmann.png"
                data-twitter="BastianHofmann"
                data-bio="Bastian is a System Engineer at SysEleven, a full-service hosting company, where he focuses on bringing the power Kubernetes
                to its customers. Before that he was caring about performance, monitoring, web-security and developer productivity at ResearchGate,
                the social network for researchers and scientists. When he is not developing stuff or looking at graphs, he likes to cycle,
                do Yoga, go to beer gardens and frequently speaks at international conferences on software architecture, scaling web applications
                and open standards and protocols."
                data-talk="Getting started with Kubernetes"
                data-abstract="Kubernetes and container orchestration is a very hot topic and promises to make deploying and running services much easier
                and efficient. This talk helps with the steep learning curve Kubernetes has."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_900,h_900,c_thumb,g_face/w_250,fl_progressive/hackference-2018/bastian-hofmann.png"
                />
                <h4>Bastian Hofmann +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Chris Miller"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/chris-miller.png"
                data-twitter="ccmiller2018"
                data-bio=""
                data-talk="And here we have some happy little svgs: painting for the web"
                data-abstract="Using SVG inline, We can replicate a Bob Ross painting in 30 minutes. Using SVG we will make everything look good, and work
                well, and be 100% responsive. By doing this we’ll learn about SVG and how it works for the web, as well as combining it with
                HTML, CSS and JS for awesome results quickly."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_500,h_500,c_thumb,g_face/w_250,fl_progressive/hackference-2018/chris-miller.png"
                />
                <h4>Chris Miller +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Danielle Tomlinson"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/danielle-tomlinson.png"
                data-twitter="dantoml"
                data-bio="Danielle has been shipping bugs to users for over 10 years, and currently works as a Staff Software Engineer at CircleCI
                where she works on the build execution platform. Before she started breaking other people's computers in the cloud, she was
                an iOS developer for over 8 years and is a core maintainer of CocoaPods and fastlane."
                data-talk="Running systems without setting your hair on fire"
                data-abstract="This talk is an introduction into all the things it takes to run your code in production – without constantly wanting to
                set your hair on fire. We will cover basic observability, reliability, and how to make your code more resilient to the inevitable
                external and internal failures.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_450,h_450,c_thumb,g_face/w_250,fl_progressive/hackference-2018/danielle-tomlinson.png"
                />
                <h4>Danielle Tomlinson +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Jess Rose"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_400,h_400,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jess-rose-cartoon.png"
                data-twitter="jesslynnrose"
                data-bio=""
                data-talk="TBA"
                data-abstract="TBA"
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_400,h_400,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jess-rose-cartoon.png"
                />
                <h4>Jess Rose +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Jo Franchetti"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_300,h_300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jo-franchetti.png"
                data-twitter="thisisjofrank"
                data-bio="Jo is a Web Developer Ddvocate for Samsung Internet who is passionate about good CSS. She’s got 6 years experience as a front
                end developer and has worked in various parts of the tech industry from startups, agencies, charities to large organisations.
                She is also mentor and organiser at codebar.io where she is able to action her passion not only for teaching good use of
                the web but also for improving the diversity and inclusivity of the tech industry."
                data-talk="Get Connected with Web Bluetooth"
                data-abstract="An introduction to connecting your bluetooth devices to your web app using the WebBluetooth API, get data from your heart
                rate monitor, control your lights even fly a drone directly from your browser, no app necessary."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_300,h_300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/jo-franchetti.png"
                />
                <h4>Jo Franchetti +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Karina Popova"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_250,h_250,c_thumb,g_face/w_250,fl_progressive/hackference-2018/karina-popova.png"
                data-twitter="kary_key"
                data-bio="Karina is a well-known woman in tech, an experienced developer and an international speaker. She has been worked as Developer
                Lead last 10 years. She has confident communication, leadership skills across different levels, developed through international
                professional interaction and engagements with representatives of various government institutions or IT companies using agile
                environment across the world. Her social responsibility and communicative competence are demonstrated in the organization
                of professional networks, events and conferences. At the same time she gained public speaking skills through frequent academic
                presentations, workshops and participation as a speaker at IoT and DevOps conferences."
                data-talk="A Geospatial Analysis of Twitter Content During The 2014 FIFA World Cup"
                data-abstract="It is hypothesized that non-political events become politicized through social media. The geographical and statistical analysis
                were combined in order to define the temporal and spatial nature of the data coming from the popular social network Twitter
                during the FIFA World Cup.">
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_250,h_250,c_thumb,g_face/w_250,fl_progressive/hackference-2018/karina-popova.png"
                />
                <h4>Karina Popova +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Mark Needham"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_1300,h_1300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/mark-needham.png"
                data-twitter="markhneedham"
                data-bio="Mark Needham is a graph advocate and developer relations engineer at Neo4j. As a developer relations engineer, Mark helps
                users embrace graph data and Neo4j, building sophisticated solutions to challenging data problems. Mark previously worked
                in engineering on the clustering team, helping to build the Causal Clustering feature released in Neo4j 3.1. Mark writes
                about his experiences of being a graphista on a popular blog at markhneedham.com. He tweets at @markhneedham."
                data-talk="All About GRAND Stack: GraphQL, React, Apollo, and Neo4j"
                data-abstract="GraphQL is a query language for your API, and a server-side runtime for executing queries by using a type system you define
                for your data. It is considered a competitor or even replacement for REST APIs. In this session we’ll learn how easy it is
                to build a GraphQL API backed by the Neo4j database."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_1300,h_1300,c_thumb,g_face/w_250,fl_progressive/hackference-2018/mark-needham.png"
                />
                <h4>Mark Needham +</h4>
            </div>
            <div class="col speaker"
                data-toggle="modal"
                data-target="#speakerDetails"
                data-name="Marta Bondyra"
                data-image="https://res.cloudinary.com/elsmore-me/image/upload/w_1200,h_1200,c_thumb,g_face/w_250,fl_progressive/hackference-2018/marta-bondyra.png"
                data-twitter="marta_bondyra"
                data-bio="Marta Bondyra is a Frontend Developer at Typeform passionate about new technologies. She started working in tech as a backend
                engineer at Nokia, but soon realized that telecommunications industry doesn’t involve a lot of frontend magic so she moved
                to frontend and stayed for good. In her free time she plays ukulele or reads books. You can meet her wearing a Gryffindor
                scarf, although in her heart she knows she’s a Slytherin."
                data-talk="That's magic! - Combining WebVR and Web Speech API"
                data-abstract="Imagine you create a world as from your dreams and interact with it as in real life. I did it and even if the resolution
                was worse than in my head I’m pretty happy with it. The talk is a walkthrough of how to render a custom virtual scene in
                A-Frame and interact with it with voice. All in browser."
            >
                <img src="https://res.cloudinary.com/elsmore-me/image/upload/w_1200,h_1200,c_thumb,g_face/w_250,fl_progressive/hackference-2018/marta-bondyra.png"
                />
                <h4>Marta Bondyra +</h4>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="speakerDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Speaker and Talk Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <img class="speaker-image" />
                        </div>
                        <div class="col">
                            <h3 class="speaker-name"></h3>
                            <h4 class="speaker-twitter"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="speaker-bio" ></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2 class="speaker-talk"></h2>
                            <p class="speaker-abstract"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>