<div class="row" >
  <a name="sponsors"></a>
  <div class="col">
    <h3 class="title heading">Sponsors</h3>
    <p>Do you want your brand to be a part of Hackference 2018? <a href="mailto:sponsorship@hackference.co.uk">Contact us for sponsorship opportunities.</a></p>
  </div>
</div>
<div class="row">

  <div class="col col-lg-4 col-md-6 col-sm-6 sponsor">
    <a href="https://www.typeform.com/" alt="Typeform" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_210,w_350/hackference-2018/typeform.png"
        title="Typeform" />
    </a>
  </div>

  <div class="col col-lg-4 col-md-6 col-sm-6 sponsor">
    <a href="https://www.cloudinary.com/" alt="Cloudinary" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_210,w_350/hackference-2018/cloudinary.png"
        title="Cloudinary" />
    </a>
  </div>

</div>
<div class="row">

  <div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="http://www.proactive.uk.net/" alt="Proactive" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/proactive.png"
        title="Proactive" />
    </a>
  </div>

  <div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="https://majestic.com" alt="Majestic" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/majestic.png"
        title="Majestic" />
    </a>
  </div>

  <div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="http://www.harveynash.com/uk/" alt="Harvey Nash" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/harvey-nash.png"
        title="Harvey Nash" />
    </a>
  </div>

  <div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="https://sinnerschrader.com/" alt="SinnerSchrader" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/sinnerschrader.png"
        title="SinnerSchrader" />
    </a>
  </div>

  <div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="https://www.clever-cloud.com/en/" alt="Clever Cloud" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/clever-cloud.png"
        title="Clever Cloud" />
    </a>
  </div>

  <div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="https://auth0.com" alt="Auth0" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/auth0.png"
        title="Auth0" />
    </a>
  </div><div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="https://www.packtpub.com" alt="Packt" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/packt.png"
        title="Packt" />
    </a>
  </div>
  
  <div class="col col-lg-3 col-md-4 col-sm-6 sponsor">
    <a href="https://www.nexmo.com/" alt="Nexmo" target="_blank">
      <img src="https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:ffffff,c_lpad,h_150,w_250/hackference-2018/nexmo.png"
        title="Nexmo" />
    </a>
  </div>

</div>
