/*

Primary #4cc2f1
Secondary #ffffff

 */

/* Bootstrap Overrides */
.title {
  text-transform: uppercase;
  font-weight: 800;
}
.heading {
  display: block;
  width: 100%;
  background: #4cc2f1;
  color: #fff;
  padding: 1em;
  margin-top: 0.5em;
}
.navbar {
  padding: 0;
  background: #2b2d38;
  color: #fff;
}
.nav-link {
  padding: 1em 1em;
  color: #fff;
}
.nav-link:hover {
  background-color: #222;
  color: #fff;
}
.nav-item {
  padding-left: 2em;
}
.navbar-nav {
  padding-right: 2em;
}
.navbar-toggler {
  color: #fff;
}
/* Site Styling */
body {
  text-align: center;
}
#mc_embed_signup {
  background: none;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}
#builtbyme img {
  width: 2.5em;
  height: auto;
}
/* Homepage */
#homepage-hero {
  background-color: #;
  background: url('https://res.cloudinary.com/elsmore-me/image/upload/b_rgb:52c3ef,c_scale,e_colorize:100,h_3036,o_10,w_4048/e_grayscale,o_50,u_hackference-flag/c_crop,g_center,y_200,w_1800,h_530,a_vflip/hackference-flag.jpg');
  background-size: cover;
  height: 65vh;
}
#hero-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#hero-title img {
  width: 70%;
}
#hero-title h1 {
  font-size: 2rem;
}
/* Footer */
footer .col {
  padding: 6%;
}
footer h1 {
  font-size: 2em;
}
footer a {
  color: #949393;
  border-bottom: 1px dotted #949393;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
footer a:hover {
  color: #4cc2f1;
  border-bottom: 1px solid #4cc2f1;
}
.social-links a,
.social-links a:hover {
  border-bottom: none;
  padding: 1em;
}
/* buttons */
.devrel-button {
  display: inline-block;
  font-weight: 700;
  color: #222;
  background-color: #fff;
  padding: 1em 2em;
  margin-top: 2em;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.buy {
  background-color: #4cc2f1;
  color: #fff;
}
a.buy {
  color: #fff !important;
}
/* Newsletter */
label {
  display: block;
  margin: 1em auto 0 auto;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  color: #1f1f1f;
}
.text {
  opacity: 0.3;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.email,
.text {
  border: 1px solid #bdbdbd;
  height: 44px;
  margin: 0.5em 0 0 0 !important;
  min-width: 100%;
  padding: 0 0 0 1em;
  color: #222;
}
.mc-field-group {
  margin: 0.5em 0;
}
#mc_embed_signup div.mce_inline_error {
  background-color: #4cc2f1 !important;
  text-align: left;
  padding: 15px !important;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
  animation: fadein 1s;
}
div#mce-success-response {
  background-color: rgb(112, 197, 112);
  max-width: 100%;
  margin: 2em auto;
  padding: 15px;
  border-radius: 5px;
  font-weight: 400;
}
#mc_embed_signup_scroll {
  max-width: 100%;
  margin: 0 auto;
}
